// Your custom variables should be here
// $bootstrap-variable: value;

// Import main Bootstrap styles
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,300&display=swap');

// Color from Figma
$water: #3D9CF6;
$light_water: #ECF5FD;
$water_dark: #0B83F4;
$hr_color: rgba(109, 180, 248, 0.2);

#houblon {
  // background: url('./img/houblon.svg')
}

.navbar-toggler {
  border: none;
  color: $water;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(61, 156, 246, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#typogramme {
  min-width: 80%;
}

@include media-breakpoint-up(sm) {
  #typogramme {
    width: 80%;
    max-width: 400px;
    min-width: 20%;
  }
}

.custom-toggler.navbar-toggler {
  border-color: rgb(61, 156, 246);
}

.main-content-nsp {
  background-color: $light_water;
}

.water-dark {
  color: $water_dark;
}

* {
  font-family: 'Work Sans', sans-serif;
}

.italic {
  font-family: 'Work Sans';
  font-weight: 300;
}

.semi-bold {
  font-family: 'Work Sans';
  font-weight: 600;
}

.regular {
  font-family: 'Work Sans';
  font-weight: 400;
}

.floating-right-img {
  float: right;
  margin-right: -16px;
}

hr {
  width: 80%;
  border-top-color: $hr_color;
}

.img-responsive {
  width: 100%;
}
