// Your custom variables should be here
// $bootstrap-variable: value;

// Import main Bootstrap styles
@import "~bootstrap/scss/bootstrap";
@import "material-icons";

// Color from Figma
$water: #3D9CF6;
$light_water: #ECF5FD;

#houblon {
  // background: url('./img/houblon.svg')
}

.navbar-toggler {
  border: none;
  color: $water;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(61, 156, 246, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(61, 156, 246);
}

.main-content-nsp {
  background-color: $light_water;
}
